<div class="container">
  <div class="calendar">
      <button mat-raised-button color="primary" (click)="createAppointment()">Create</button>
      <mat-calendar [(selected)]="selected" (selectedChange)="change($event)"></mat-calendar>
      <p>{{selected}}</p>
  </div>
  <div class="time-range">
    <div class="datetime">
      <div class="timezone">{{selected.toString().split(' ')[5]}}</div>
      <div class="day">{{selected.toString().split(' ').slice(0,3)}}</div>
    </div>
    <div
      class="hour"
      *ngFor="let time of timeRange; let i = index" [style.marginTop]="calcMarginTop(i)">
      <div class="title">{{ time.hour == 0 ? '' : time.hour}} {{time.hour == 0 ? (time.type | uppercase) : ''}}</div>
      <div class="line"></div>
    </div>
    <time-range [content]="content"></time-range>
  </div>
  <div class="splitter"></div>
</div>
